@model CMS.Common.Models.ViewModels.Tickets.TicketTypesModel
<div class="row">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">@SharedLocalizer["RecommendedActions"]</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4">@SharedLocalizer["TicketType"]</label>
                    <span>@Model.TicketTypeName_TR</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(Model.RecommendedActions)
                </div>
            </div>
        </div>
    </div>
</div>